body {
    background-color: #f8e7e7;
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.texto {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #ff69b4;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #ff69b4;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

p#endereco {
    margin-top: 10px;
    font-weight: bold;
}
